.movierow--leftIcons ,
.movierow--rightIcons{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 40px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    background-color: rgb(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movierow--leftIcons{
    left: 0;
}

.movierow--rightIcons{
    right: 0;
}

.movierow--leftIcons img{
    width: 30px;
    left: 0;
}

.movierow--rightIcons img{
    width: 30px;
    right: 0;
}

.movieRow:hover .movierow--leftIcons,
.movieRow:hover .movierow--rightIcons{
opacity: 1;
}


.movieRow{
margin-bottom: 30px;
}

.movieRow h2{
margin: 100px 0px 0px 30px;
}

.movieRow--listarea{
    overflow-x: hidden;
}

.movieRow--list{
    transition: all ease 0.5s;
}


.movieRow--item{
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieRow--item img{
width: 100%;
transform: scale(0.9);
transition: all ease 0.5s;
}

.movieRow--item img:hover{
transform: scale(1.05);
}